<div class="container">
    <div class="container__form">
        <h1 class="title">Login</h1>
        <form id="login__form" class="form">
            <label>Email</label>
            <input name="email">
            <label>Contraseña</label>
            <input type="password" name="password">
            <input type="submit">
        </form>
        <p>¿No estás registrado? 
        <a href="/register">Regístrate aquí</a></p>
        <a href="/api/auth/github">Entrar con github</a>
    </div>
</div>
<script src="/js/login.js"></script>