<div class="container">
    <div class="container__form">
        <h1 class="title">Registro</h1>
        <form id="register__form" class="form">
            <label>Nombre</label>
            <input name="first_name">
            <label>Apellido</label>
            <input name="last_name">
            <label>Email</label>
            <input name="email">
            <label>Edad</label>
            <input name="age">
            <label>Contraseña</label>
            <input type="password" name="password">
            <input type="submit">
        </form>
        <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
    </div>
</div>
<script src="/js/register.js"></script>