.container__products{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.product{
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
  background-color: rgb(83, 200, 97);
}